<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="walletrpcusername" />
    <add key="password" value="walletrpcpassword" />
    <add key="wallet_url" value="http://localhost" />
    <add key="wallet_port" value="7313" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>